@tailwind base;
@tailwind components;
@tailwind utilities;

.chat-list-height {
  height: calc(100vh - 280px);
}

.chat-list-height-small {
  height: calc(100vh - 280px);
}

.chat-height {
  height: calc(100vh - 425px);
}

.chat-height-small {
  height: calc(100vh - 425px);
}

.send-button {
  box-shadow: 0px 15px 25px #74b3f6;
}

.send-button:hover {
  box-shadow: 0px 15px 20px #74b3f6;
}

/*SCROLL BAR*/
/* ===== Scrollbar CSS ===== */
/* Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: #c9c9c9 #ffffff;
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 7px;
  height: 5px;
}

*::-webkit-scrollbar-thumb {
  background-color: #c9c9c9;
  border-radius: 10px;
  border: 1px solid #ffffff;
}
